rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read/write access during testing
    // WARNING: These rules are for testing only! Do not use in production!
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}