/* src/styles.css */
body, .master-container {
    margin: 0;
    padding: 0;
}

.master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    max-width:600px;
}

    .master-container h2 {
        margin-bottom: 0px;
    }

    .master-container h1 {
        text-align: center;
    }

    .master-container input,
    .master-container select,
    .master-container button,
    .master-container textarea
    {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }
    .master-container label{
        margin-right:auto;
    }

        .master-container input[type="file"] {
            padding: 0;
        }

    .master-container button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

        .master-container button:hover {
            background-color: #45a049;
        }

    .master-container img {
        display: block;
        margin: 10px auto;
        max-width: 100px;
        border-radius: 50%;
    }

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    max-height: 200px; /* Set a fixed height for the list */
    overflow-y: auto; /* Enable vertical scrolling */
    width:100%;
}

    ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        ul li label {
            display: flex;
            align-items: center;
            gap: 10px;
            white-space: nowrap; /* Prevent text from stacking */
        }

@media (max-width: 600px) {
    .master-container {
        padding: 10px;
    }
}


/* MobileNav.css */
.mobile-nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ddd;
    z-index: 1000;
}

    .mobile-nav a {
        text-decoration: none;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        transition: color 0.3s ease;
    }

        .mobile-nav a:hover {
            color: #4CAF50;
        }

        .mobile-nav a i {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .mobile-nav a span {
            font-size: 10px;
        }
